
@import url(../css/fonts.css);

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root{

    /* Color Variable */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /* gradient color */
    --sky:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /* Font Variable */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;
}



/* ------------------- Class ------------ */

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}


.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color:var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color:var(--text-light) ;
}


/* ------x------------- Class -------x----- */


/* ------------------- navigasi ------------ */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow:hidden;
    transition:height 1s ease-in-out;
}

.nav-menu{
    justify-content: space-between;
}


.toogle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.toogle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.toogle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height:30rem ;
}




.nav-items{
   display: flex;
   margin: 0;
}

.nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav-link:hover{
    background-color: var(--midnight);
}

.nav-link:hover a{
    color: var(--white);
}


.nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.social{
    padding: 1.4rem 0;
}

.social i{
    padding: 0.2rem;
}

.social i:hover{
    color: #a1c4cf;
}



/* ------x------------- navigasi -------x----- */



/* ------------------- Halaman Utama ------------ */


/* ------------------- Judul ------------ */

.site-title{
   background: url(../assets/jekate.png); 
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
}


.site-background{
    padding-top: 10rem;
    text-align: center;
    color: rgb(104, 104, 104);
}

.site-title h1{
    margin: .3rem;
}

.btn1{
    margin: 1.8rem;
    background: var(--sky);
}

.btn1{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}




.btn1:hover{
    background: transparent;
    border: 1px solid var(--white);
    color:var(--white);
}

/* ------x------------- Judul -------x----- */


/* ------------------- Blog Carousel ------------ */

main.blog{
  background: url(../assets/Abstract02.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 49rem;
  height: 100vh;
  width: 100vh;
}


.blog-post{
    padding-top: 6rem;
}

.blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.blog-title{
    padding:2rem 0;
}

.btn-blog{
   padding: .7rem 2rem;
   background: var(--sky);
   margin: .5rem;
}

.blog-content span{
    display: block;
}


/* ------x------------- Blog Carousel -------x----- */




/* ------------------- Site Content ------------ */

.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

.post-content{
    width: 100%;
    margin-bottom: 5rem;
}

.post-content>.post-image,.post-title{
    padding: 1rem 2rem;
    position: relative;
}

.site-content.post-content>.post-image,.post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

.site-content,.post-content>.post-image>div{
    overflow: hidden;
}

.site-content.post-content>.post-image,.img{
    width: 100%;
    transition: all 1s ease;
}


.site-content.post-content>.post-image,.img:hover{
   transform: scale(1.3); 
}

.site-content.post-content>.post-image,.post-info span{
    margin: 0.5rem;
}

.post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.btnpost{
    border-radius: 0;
    padding:.7rem 1.5rem;
    background: var(--sky);
}

.pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.pagination a{
    padding: .6rem.9rem;
    border-radius: 2rem;
    margin: 0.3rem;
    font-family: var(--Lexend);
}

.pages{
    background: var(--text-gray);
    color: var(--white);
}

/* ------x------------- Site Content -------x----- */



/* ------------------- SideBar ------------ */



.category-list{
    font-family: var(--Livvic);
}

.list-items{
   background: var(--sky);
   padding:.4rem 1rem;
   margin: .8rem 0;
   border-radius:3rem ;
   width: 70%;
   display: flex;
   justify-content: space-between;
}

.list-items a{
    color: black;
}

.popular-post.post-content{
    padding: 1rem 0; 
}

.popular-post h2{
    padding-top: 8rem;
}


.post-info-side{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}


.post-info-side span{
    margin: 0.5rem;
}


.post-info-side{
    padding: .4rem.1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}



.post-title-side a{
    padding: 1rem 2rem;
    position: relative;
    font-family: var(--Anton);
    font-size: 1rem;
}


/* ------x------------- SideBar -------x----- */







/* ------x------------- Halaman Utama -------x----- */


/* ------------------- Footer ------------ */
.footer-bawah{
    margin-top: 20px;
}
.footer{
    height: 100%;
    background: var(--text-gray);
    position: relative;
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-footer>div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem.9rem;
}

.footer h2{
    color: var(--white);
}

.follow-footer P{
    color: rgb(201, 201, 201);
}

.about-us-footer P{
    color: rgb(201, 201, 201);
}

.rights{
    color: var(--white);
}



.follow-footer div i{
color:var(--white) ;
padding:0.4rem;
}

.rights{
    justify-content: center;
    font-family: var(--Josefin);
}

.move-up{
    position: absolute;
    right: 6%;
    top: 80%;
}

.move-up span{
   color: var(--bg-color);
}

.move-up span:hover{
    color: var(--white);
    cursor: pointer;
 }

.fotomember{
 height: 209px; 
 width: 175px; 
 padding-top: 3rem;
 margin-left: 45px;
}





/* ------x------------- Footer -------x----- */


/* -------------------Tabel MEmber ------------ */

.table-responsive-xl > .table-bordered {
    border: 0;
  }


.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}



.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6 !important;
}

.table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }


/* ------x------------- Tabel MEmber -------x----- */

/* -------------------- View Port / equal to 1440px ------------ */
@media only screen and (max-width: 1440px){
    .memberJ{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 150vh;
    }
    
    
     .memberK3{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 150vh;
     }
    
     .logoJ{
        margin-left: 35px;
        width: 50%;
     }
    
     .logoK3{
        margin-left: 35px;
        width: 50%;
     }
}

/* --------x------------ View Port / equal to 1440px ------x------ */

/* -------------------- View Port / equal to 1130px ------------ */
@media only screen and (max-width: 1130px){
  .site-content.post-content>.post-image,.post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }


    .post-info-side{
        display: none ;
    }


.footer,.container-footer{
    grid-template-columns: repeat(2, 1fr);
}  


.memberJ{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 250vh;
    }
    
    
     .memberK3{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 220vh;
     }
    
     .logoJ{
        margin-left: 35px;
        width: 50%;
     }
    
     .logoK3{
        margin-left: 35px;
        width: 50%;
     }


}
/* -------x------------- View Port / equal to 1130px ------x------ */





/* -------------------- View Port less / equal to 750px ------------ */

@media only screen and (max-width: 768px){
    .nav-menu, .nav-items{
      flex-direction: column;
    }

    .toogle-collapse{
        display: initial;
    }

    .site-content{
        grid-template-columns: 100%;
    }

    .footer,.container-footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .memberJ{
        margin-left: 70px;
        display: flex;
        justify-content: center;
        height: 525vh;
    }
    
    
     .memberK3{
        margin-left: 70px;
        display: flex;
        justify-content: center;
        height: 425vh;
     }
    
     .logoJ{
        margin-left: 250px; 
        width: 50%;
     }
    
     .logoK3{
        margin-left: 250px;
        width: 50%;
     }
}


/* -------x------------- View Port / equal to 750px ------x------ */




/* -------------------- View Port / equal to 520px ------------ */

@media only screen and (max-width: 520px){
    .blog{
       height: 130vh; 
    }

    .post-info{
        display: none;
    }

    .container-footer > div{
        padding: 1rem .9rem ;
    }

    .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    .toogle-collapse{
        width: 80% !important;
    }

    .header-foto{
        margin-left: 450px; 
        margin-top: 40px;
    }

    
    .isi-foto{
        height: 1800px; 
        margin-left: 145px;
    }


.memberJ{
    margin-right:200px; 
    display: flex;
    justify-content: center;
    height: 1000vh;
}


 .memberK3{
    margin-right:200px; 
    display: flex;
    justify-content: center;
    height: 870vh;
 }

 .logoJ{
    margin-left: 35px;
    width: 80%;
 }

 .logoK3{
    margin-left: 35px;
    width: 80%;
 }


 

}


/* -------x------------- View Port / equal to 520px ------x------ */

/* -------------------- View Port / equal to 768px ------------ */

@media only screen and (max-width: 768px){
    .memberJ{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 1000vh;
    }
    
    
     .memberK3{
        margin-right:200px; 
        display: flex;
        justify-content: center;
        height: 870vh;
     }
    
     .logoJ{
        margin-left: 35px;
        width: 50%;
     }
    
     .logoK3{
        margin-left: 35px;
        width: 50%;
     }
}

/* -------x------------- View Port / equal to 768px ------x------ */



